/* You can add global styles to this file, and also import other style files */

*, body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing:border-box;
  white-space: nowrap;
}

header {
  background-color: #111;
  padding: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #3498db;
  background-image: url("./assets/w1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 6px rgb(22, 21, 21);
}

.weather-list {
  margin: 10px auto;
  max-width: 80%;
}

.weather-element {
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px;
  margin: 10px 0;
  float: left;
  width: 33.333%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  padding: 3px;
  font-size: 12px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #ccc;
  text-align: left;
}

.temperature {
  cursor: default;
}

.info {
  color: rgba(95, 95, 95, 0.51);
  font-weight: bold;
}

.weather-search {
  margin: 0 auto;
  max-width: 90%;
  text-align: center;
  padding: 5px;
  background: #f5eceb;
}


button, input {
  font-size: inherit;
  font-family: inherit;
}

input {
  padding: 15px 5px;
  outline: none;
  max-width: 300px;
}

/* tab city */
.weather-tub {
  padding: 17px 10px;
  background-color: #3498db;
}

.weather-tub label {
  font-weight: bold;
  margin-right: 10px;
}

.weather-tub span {
  transition: all 0.3s;
  color: yellow;
  cursor: pointer;
}

.weather-tub:hover span {
  color: red;
}

/* form:after {
  content: "";
  display: table;
  clear: both;
} */

/* button {
  background-color: #2ecc71;
  border: none;
  padding: 4px 8px;
  box-shadow: 1px 1px 1px #95a5a6;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #27ae60;
} */

@media screen and (max-width: 768px) {
  .weather-list {
    width: 80%;
  }
}
