/* You can add global styles to this file, and also import other style files */

*, body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing:border-box;
  white-space: nowrap;
}

header {
  background-color: #111;
  padding: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #3498db;
  background-image: url("./assets/w1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 6px rgb(22, 21, 21);
}
@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}

.weather-list {
  margin: 10px auto;
  max-width: 80%;
}

.weather-element {
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px;
  margin: 10px 0;
  float: left;
  width: 33.333%;
}
@media screen and (max-width: 768px) {
  .weather-element {
    width: 100%;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0041ff;
  background-color: #00ae7b;
  background: linear-gradient(45deg, #0041ff, #0081bf);
  padding: 5px;
}
@media screen and (max-width: 768px) {
  form {
    flex-direction: column;
    width: 100%;
  }
}

.temperature {
  cursor: default;
}

.info {
  color: #0044fb;
  font-weight: bold;
  padding: 10px 0;
  display: block;
}

.weather-search {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  padding: 5px;
}


button, input {
  font-size: inherit;
  font-family: inherit;
}

input {
  padding: 15px 5px;
  outline: none;
  max-width: 300px;
}
@media screen and (max-width: 768px) {
  input {
    width: 100%;
  }
}

/* tab city */
.weather-tub {
  padding: 17px 10px;
  background-color: #2988c6;
}
@media screen and (max-width: 768px) {
  .weather-tub {
    width: 100%;
  }
}

.weather-tub label {
  font-weight: bold;
  margin-right: 10px;
  color: #ccc;
}

.weather-tub span {
  transition: all 0.3s;
  color: yellow;
  cursor: pointer;
}

.weather-tub:hover span {
  color: red;
}

